<div class="container my-3">
  <h3>Juego de Tronos</h3>
  <div>
    <mat-tab-group>
      <mat-tab label="Personajes">
        <div class="row">
          <div *ngFor="let character of characters" class="col col-6 col-md-4">
            <mat-card class="character-card my-4">
              <mat-card-header>
                <mat-card-title>{{
                  character.title + " " + character.lastName
                }}</mat-card-title>
                <mat-card-subtitle>{{ character.family }}</mat-card-subtitle>
              </mat-card-header>
              <img
                class="img-character"
                mat-card-image
                [src]="character.imageUrl"
                alt="character of GOT"
              />
              <mat-card-content>
                <p>
                  {{ character.title }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Continentes">
        <div *ngFor="let continent of continents" class="col col-6 col-md-4">
          <mat-card class="continent-card">
            <h2>{{ continent.name }}</h2>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
